{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des joueurs</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>#</th>
                <th>Pseudo</th>
                <th>Compte actif ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('joueurs_show', { 'id': entity.id }) }}">{{ entity.pseudo }}</a></td>

                <td>
                    {% if entity.can_be_voted %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                <td>
                    <a href="{{ path('joueurs_show', { 'id': entity.id }) }}">Voir</a>

                    <a href="{{ path('joueurs_edit', { 'id': entity.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="{{ path('joueurs_new') }}">+ Créer un joueur</a>
{% endblock %}
