{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Joueur</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ entity.pseudo }}</td>
            </tr>
            <tr>
                <th>Compte actif ?</th>
                <td>{% if entity.can_be_voted %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('joueurs_edit', { 'id': entity.id }) }}">Modifier</a>

    {{ form(delete_form) }}

    <a href="{{ path('joueurs') }}">Retour à la liste</a>
</ul>
{% endblock %}
